{% extends "kauth/base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h4 class="mb-0">{{ title }}</h4>{% endblock %}

{% block right_content %}
    <h3>Accounts</h3>

    <form method="post" action="">
        {% csrf_token %}
    <div class="row">
        <div class="col-md-8">
            <table class="table table-bordered bg-white">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Has account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in objects %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ obj.name }}</td>
                            <td>
                                <input type="text" value="{{ obj.username }}" name="{{ obj.pk }}__username" />
                            </td>
                            <td>
                                <input type="hidden" value="{{ obj.has_account }}" name="{{ obj.pk }}__has_account" />
                                {{ obj.has_account }}
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="col-md-4">

            <div class="card">
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            <td>Total</td><td>{{ objects|length }}</td>
                        </tr>
                        <tr>
                            <td>Password Option</td>
                            <td>
                                <select name="password_option">
                                    <option value="bf__name">Last name</option>
                                    <option value="random">Random</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="d-none">
                            <td>Force reset</td>
                            <td>
                                <input type="checkbox" name="force_reset" value="1">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="Proceed" />
                            </td>
                        </tr>
                    </table>
                </div>
            </div>

        </div>
    </div>
    </form>

{% endblock %}
