{% extends "kauth/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content_title %}<h4 class="mb-0">{{ title }}</h4>{% endblock %}

{% block content %}

    <form action="" method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <div class="">
            <input type="submit" class="btn btn-primary btn-sm">
        </div>

    </form>

{% endblock %}
