
{% if has_perm %}
<div class="card">

    <div class="card-header">
        <h6 class="mb-0">User Account</h6>
    </div>

    <div class="card-body">
        {% if is_valid_related %}
            {% if user_record %}
                <div class="d-flex">
                    <div class="mr-5">
                        <small>Username</small>
                        <p>{{ user_record.username }}</p>
                    </div>
                    <div class="d-none">
                        <small>Password</small>
                        <p>---</p>
                    </div>
                </div>

                <a href='{% url "kdashmin:myauth_myuser_change" user_record.pk %}'
                   class="btn btn-outline-secondary btn-sm">
                    <i class="fa fa-user"></i>
                    Update user account
                </a>
            {% else %}
                <p>No user account found, create one now?</p>
                <a href='{% url "kauth:user_manage_add" related_object.app_model related_object.pk user_field %}?username={{ proposed_username }}'
                   class="btn btn-outline-primary btn-sm">
                    <i class="fa fa-user"></i>
                    Create account
                </a>
            {% endif %}
        {% else %}
            <p class="mb-0">Object has no relation to user table</p>
        {% endif %}
    </div>

</div>
{% endif %}

