{% extends "kauth/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/">Home</a>
     &rsaquo; <a href='{% url "kauth:verification" verification_type %}'>Password Reset</a>
     &rsaquo; <a href='{% url "kauth:verification_send" verification_log.verification.type verification_log.verification.medium %}'>Verification</a>
     &rsaquo; {{ verification_medium.label }} : {{ title }}
</div>
{% endblock %}

{% block content_title %}<h4 class="mb-0">{{ title }}</h4>{% endblock %}

{% block content %}

    {% if verification_log.date_sent %}
        <p class="text-secondary">
            A verification code has been sent to you at <b>{{ verification_log.address }}</b>. Please check and fill it out
            here.
        </p>
        <form method="post" action="">
            {% csrf_token %}
            <div class="my-4">
                {{ form.as_p }}
            </div>

            <div class="d-flex mt-5">
                <div class="mr-auto">
                    <a href="?action=resend" class="btn btn-sm btn-outline-primary">Resend code</a>
                </div>
                <div class="">
                    <input type="submit" class="btn btn-primary" value="Proceed" />
                </div>

            </div>
        </form>

    {% else %}
        <p class="text-secondary">
            An error occurred while processing your request.
        </p>
    {% endif %}

{% endblock %}
