{% extends "kauth/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/">Home</a>
     &rsaquo; {{ title }}
</div>
{% endblock %}

{% block content_title %}<h4 class="mb-0">{{ title }}</h4>{% endblock %}

{% block content %}
     {% for medium, attrs in verification_mediums.items %}
        <a href='{% url "kauth:verification_send" verification_type medium %}' class="text-decoration-none">
            <div class="d-flex border px-3 py-2 mb-3">
                <div class="">
                    <h6 class="mb-0">
                         <i class="{{ attrs.icon_class }}"></i>
                         {{ attrs.label }}
                    </h6>
                    <small class="mb-0 text-dark">{{ attrs.description }}</small>
                </div>
            </div>
        </a>
    {% endfor %}
{% endblock %}
