{% extends "kauth/base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
     <a href="/">Home</a>
     &rsaquo; <a href='{% url "kauth:verification" verification_type %}'>Password Reset</a>
     &rsaquo; {{ verification_medium.label }}
</div>
{% endblock %}

{% block content_title %}<h4 class="mb-0">{{ title }}</h4>{% endblock %}

{% block content %}

    <p class="text-secondary">{{ verification_medium.description }}</p>
    <form method="post" action="">
        {% csrf_token %}
        <div class="my-4">
            {{ form.as_p }}
        </div>

        <div class="text-right">
            <input type="submit" class="btn btn-primary" value="Send" />
        </div>
    </form>

{% endblock %}
